.logo {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}
.logo-header {
  color: var(--logo-second-color);
}
.logo-footer {
  color: var(--main-color);
}
