.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--main-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--text-color);
}
.menu-container .menu-toggle:hover,
.mobile-link:hover {
  color: var(--secondary-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu-link {
  display: block;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
}
.mobile-contacts {
  list-style: none;
  padding: 10px;
  position: absolute;
  top: 70%;
  font-weight: 500;
  line-height: 40px;
}
.mobile-contact-phone {
  font-size: 34px;
  color: var(--secondary-color);
  text-decoration: none;
}
.mobile-contact-email {
  font-size: 24px;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.mobile-socials {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  position: absolute;
  top: 90%;
  gap: 20px;
}
.mobile-socials-element {
  position: relative;
}
.mobile-socials-element:not(:nth-last-child(1))::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 22px;
  background-color: var(--text-color);
  bottom: 0;
  left: calc(100% + 10px);
  border-radius: 1px;
}
.mobile-socials-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-color);
}
