:root {
  --main-color: #fff;
  --primary-color: #2f303a;
  --secondary-color: #2196f3;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --button-portfolio-color: #f5f4fa;
  --main-color-transp: #ffffff99;
  --logo-second-color: #000000;
  --border-color: #ececec;
  --border-secondary-color: #eee;
  --gradient1: rgba(47, 48, 58, 0.4);
  --gradient2: rgba(255, 255, 255, 0);
  --logo-clients-color: #afb1b8;
  --footer-social-color: rgba(255, 255, 255, 0.1);
}
